@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'vendors';
@import 'components';
@import 'common';

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.components-wrapper {
  &__block {
    display: flex;
    gap: 20px;
  }
}

.component {
  text-align: center;

  &-title {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
  }
}
